{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class=login-body">
    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Welcome To BirminghamEgg</h1>
        {% csrf_token %}
        <input id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus=""
               type="username">
        <input id="inputPassword" class="form-control" placeholder="Password" required="" type="password">
        <div class="checkbox mb-3">
            <label>
                <input value="remember-me" type="checkbox"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary " type="submit">Sign in</button>
    </form>


</div>

{% endblock content %}